---
import Logo from '../logo/Logo.astro';
---

<footer>
  <section>
    <div class="container">
        <Logo></Logo>
    </div>
  </section>
  <address>
    <div class="container">
        <p> &#169; 2024 &#10072; Created by Fullstack developer Yurij
            <span>&#9829;</span>
            <a href="#">GitHub</a>
          </p>
    </div>
  </address>
</footer>
